.ligne_horizontale1 {
    width: 95vw;
    height: 0.775px;
    position: relative;
    top: 6.75vh;
    background: #ffffff1a;
}

.ligne_horizontale2 {
    width: 95vw;
    height: 0.775px;
    position: relative;
    top: 13.5vh;
    background: #ffffff1a;
}

.ligne_horizontale3 {
    width: 95vw;
    height: 0.775px;
    position: relative;
    top: 20.25vh;
    background: #ffffff1a;
}

.ligne_horizontale4 {
    width: 95vw;
    height: 0.775px;
    position: relative;
    top: 27vh;
    background: #ffffff1a;
}

.ligne_horizontale5 {
    width: 95vw;
    height: 0.775px;
    position: relative;
    top: 33.75vh;
    background: #ffffff1a;
}

.ligne_horizontale6 {
    width: 95vw;
    height: 0.775px;
    position: relative;
    top: 40.5vh;
    background: #ffffff1a;
}

.ligne_verticale1 {
    width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 3.3vw;
    background: #ffffff1a;
}

.ligne_verticale2 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 6.6vw;
    background: #ffffff1a;
}

.ligne_verticale3 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 9.9vw;
    background: #ffffff1a;
}

.ligne_verticale4 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 13.2vw;
    background: #ffffff1a;
}

.ligne_verticale5 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 16.5vw;
    background: #ffffff1a;
}

.ligne_verticale6 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 19.8vw;
    background: #ffffff1a;
}

.ligne_verticale8 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 23.1vw;
    background: #ffffff1a;
}

.ligne_verticale9 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 26.4vw;
    background: #ffffff1a;
}

.ligne_verticale10 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 29.7vw;
    background: #ffffff1a;
}

.ligne_verticale11 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 33vw;
    background: #ffffff1a;
}

.ligne_verticale12 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 36.3vw;
    background: #ffffff1a;
}

.ligne_verticale13 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 39.6vw;
    background: #ffffff1a;
}

.ligne_verticale14 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 42.9vw;
    background: #ffffff1a;
}

.ligne_verticale15 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 46.2vw;
    background: #ffffff1a;
}

.ligne_verticale16 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 49.5vw;
    background: #ffffff1a;
}

.ligne_verticale17 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 52.8vw;
    background: #ffffff1a;
}

.ligne_verticale18 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 56.1vw;
    background: #ffffff1a;
}

.ligne_verticale19 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 59.4vw;
    background: #ffffff1a;
}

.ligne_verticale20 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 62.7vw;
    background: #ffffff1a;
}

.ligne_verticale21 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 66vw;
    background: #ffffff1a;
}

.ligne_verticale22 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 69.3vw;
    background: #ffffff1a;
}

.ligne_verticale23 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 72.6vw;
    background: #ffffff1a;
}

.ligne_verticale24 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 75.9vw;
    background: #ffffff1a;
}

.ligne_verticale25 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 79.2vw;
    background: #ffffff1a;
}

.ligne_verticale26 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 82.5vw;
    background: #ffffff1a;
}

.ligne_verticale27 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 85.8vw;
    background: #ffffff1a;
}

.ligne_verticale28 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 89.1vw;
    background: #ffffff1a;
}

.ligne_verticale29 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 92.4vw;
    background: #ffffff1a;
}

.ligne_verticale30 {
        width: 0.775px;
    height: 90.6vh;
    position: absolute;
    top: 302vh;
    left: 95.7vw;
    background: #ffffff1a;
}

.lumiere1 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 3.3vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1;
}

.lumiere2 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 6.6vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere3 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 9.9vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere4 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 13.2vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere5 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 16.5vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere6 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 19.8vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere7 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 23.1vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere8 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 26.4vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere9 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 29.7vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere10 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 33vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere11 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 36.3vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere12 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 39.6vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere13 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 42.9vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere14 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 46.2vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere15 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 49.5vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere16 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 52.8vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere17 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 56.1vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere18 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 59.4vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere19 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 62.7vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere20 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 66vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere21 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 69.3vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere22 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 72.6vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere23 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 75.9vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere24 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 79.2vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere25 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 82.5vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere26 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 85.8vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere27 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 89.1vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere28 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 92.4vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.lumiere29 {
    width: 1px;
    height: 79px;
    top: 310vh;
    left: 95.7vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1; 
}

.diagonaleg1 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 145.5vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg2 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 135.05vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg3 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 124.6vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg4{
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 114.15vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg5 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 103.7vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg6 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 93.25vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}


.diagonaleg7 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 82.8vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg8 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 72.35vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}


.diagonaleg9 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 61.9vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg10 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: 5.90vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg11 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -2.75vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg12 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -11.4vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg13 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -20.5vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg14 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -28.7vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg15 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -37.35vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg16 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -46vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg17 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -54.65vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg18 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -63.3vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg19 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -71.95vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg20 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -80.6vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaleg21 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 51.45vh;
    left: -89.25vw;
    transform: rotate(149.8deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled1 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 49.6vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled2 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 39vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled3 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 28.4vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled5 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 18.1vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled6 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 7.8vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled7 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: -2.5vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled8 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: -12.8vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled9 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: -23.1vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled10 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: -33.4vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled11 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: -43.7vh;
    left: 5.80vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}


.diagonaled4 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -1.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled12 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -10.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled13 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -19.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled14 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -28.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled15 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -37.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled16 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -46.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled17 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -55.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled18 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -64.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled19 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -73.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}

.diagonaled20 {
    width: 100vw;
    height: 0.775px;
    position: absolute;
    top: 50.9vh;
    left: -82.5vw;
    transform: rotate(30deg);
    background: #ffffff1a;
    z-index: 0;
}
/*
.oppacite {
    position: absolute;
    width: 60vw;
    height: 110vh;
    top: -6vh;
    left: -5vw;
    overflow: hidden;
    background: linear-gradient(to right, #3b60f4, #3b60f43b);
    z-index: 2;
    transform: rotate(5deg);
}
/*
.recourvir_degat_oppacite {
    position: absolute;
    width: 65vw;
    height: 20vh;
    top: 100vh;
    overflow: hidden;
    background: #ffffff;
    z-index: 12;
}
*/
.lumiered1 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 89.02vw;
    background: linear-gradient(to top, #ff0000, rgb(255, 0, 0));
    position: absolute;
    z-index: 0; 
    transform: rotate(60deg);
}

.lumiered2 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 80.98vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 0; 
    transform: rotate(60deg);
}

.lumiered3 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 72.85vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 0; 
    transform: rotate(60deg);
}

.lumiered4 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 64.72vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 0; 
    transform: rotate(60deg);
}

.lumiered5 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 56.51vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 0; 
    transform: rotate(60deg);
}

.lumiered6 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 48.4vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered7 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 40.29vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered8 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 32.18vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered9 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 24.07vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered10 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 15.96vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered11 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: 7.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered12 {
    width: 1px;
    height: 79px;
    top: 97.2vh;
    left: -1.35vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered13 {
    width: 1px;
    height: 79px;
    top: 86.8vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered14 {
    width: 1px;
    height: 79px;
    top: 76.5vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered15 {
    width: 1px;
    height: 79px;
    top: 65.5vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered17 {
    width: 1px;
    height: 79px;
    top: 54.2vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered18 {
    width: 1px;
    height: 79px;
    top: 32vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered19 {
    width: 1px;
    height: 79px;
    top: 21vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered20 {
    width: 1px;
    height: 79px;
    top: 9.7vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.lumiered21 {
    width: 1px;
    height: 79px;
    top: -1.6vh;
    left: -2.3vw;
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    z-index: 1; 
    transform: rotate(60deg);
}

.plus1 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 684px;
    left: 793px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus2 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 684px;
    left: 793px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}

.plus3 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 402px;
    left: 795px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus4 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 402px;
    left: 795px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}

.plus5 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 120px;
    left: 799px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus6 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 120px;
    left: 799px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}

.plus7 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 119px;
    left: 1125px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus8 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 119px;
    left: 1125px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}

.plus9 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 118px;
    left: 1451px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus10 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 118px;
    left: 1451px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}

.plus11 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 683px;
    left: 1445px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus12 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 683px;
    left: 1445px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}

.plus13 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 400px;
    left: 1447px;
    transform: rotate(30deg);
    background: #6a85f2; 
}

.plus14 {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 400px;
    left: 1447px;
    transform: rotate(149.8deg);
    background: #6a85f2;
    z-index: 0;
}