* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    overflow-x: hidden; 
}

header {
    height: 768px;
    background-color: #3B61F4;
    margin-top: 0;
    padding-top: 40px;
}

.navbar {
    position: absolute;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    opacity: 70%;
    font-family: Inter;
}

.navbar .nav-logo {
    color: white;
    opacity: 100%;
    display: flex;
    align-items: center;
    margin-right: 56px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin-right: 32px;
}

.navbar .nav-links ul li:last-child {
    margin-right: 0;
}

.navbar .nav-logo img {
    margin-right: 8px; 
    width: 41.96px;
    height: 41.96px;
}

.container1 {
    position: absolute;
    padding: 0px 120px;
    top: 241px;
}

.heading1 {
    font-family: Neurial Grotesk;
    font-size: 56px;
    font-weight: 700;
    line-height: 61.6px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.heading2 {
    font-family: Neurial Grotesk;
    font-size: 56px;
    font-weight: 400;
    line-height: 61.6px;
    text-align: left;
    color: white;
}

.text-below-title-container {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.blue-text {
    color: #CFD9FF;
}

.white-text {
    color: #FFFFFF;
}

.heading2 {
    margin-bottom: 16px;
}

.talk-to-an-expert {
    margin-top: 48px;
    width: 200px;
    height: 50px;
    padding: 21.5px 24px;
    border-radius: 8px;
    border: 1px solid;
    border-image-source: linear-gradient(93.97deg, rgba(255, 255, 255, 0.1) 2.56%, rgba(255, 255, 255, 0) 95.26%);
    background: linear-gradient(0deg, #1E3076, #1E3076), linear-gradient(93.97deg, rgba(255, 255, 255, 0.1) 2.56%, rgba(255, 255, 255, 0) 95.26%);
    gap: 8px;
    box-shadow: 0px 4px 8px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.talk-to-an-expert2 {
    margin: -4px 1157.7px;
    width: 200px;
    height: 50px;
    padding: 21.5px 24px;
    border-radius: 8px;
    border: 1px solid;
    border-image-source: linear-gradient(93.97deg, rgba(255, 255, 255, 0.1) 2.56%, rgba(255, 255, 255, 0) 95.26%);
    background: linear-gradient(0deg, #1E3076, #1E3076), linear-gradient(93.97deg, rgba(255, 255, 255, 0.1) 2.56%, rgba(255, 255, 255, 0) 95.26%);
    gap: 8px;
    box-shadow: 0px 4px 8px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.svg-icon {
    margin-bottom: 8.88px;
}

.container2 {
    padding: 180px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container2-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    height: 21px;
    color: #FFFFFF;
}

.container2-logo1 {
    margin-left: 32px;
    margin-right: 32px;
}

.nav-svg {
    min-width: 109.38px;
    min-height: 20.43px;
    top: 10.24px;
    left: 54.5px;
}

.content {
    position: absolute;
    left: 874.58px;
    top: 161.11px;
    margin-top: 0;
}

.fleche_verticale1 {
    position: absolute;
    left: 878.6px;
    top: 229.0px;
    margin-top: 0;
}

.fleche_verticale2 {
    position: absolute;
    left: 1119.0px;
    top: 369.32px;
    margin-top: 0;
}

.fleche_verticale3 {
    position: absolute;
    left: 1281.65px;
    top: 275.91px;
    margin-top: 0;
}

.fleche_verticale4_1 {
    position: absolute;
    left: 1040.57px;
    top: 136.32px;
    margin-top: 0;
    filter: blur(1.15px);
    max-height: 318.57px;
}

.fleche_verticale4_2 {
    position: absolute;
    left: 1040.57px;
    top: 136.32px;
    margin-top: 0;
    filter: blur(3px);
    max-height: 318.57px;
}

.fleche_verticale4_3 {
    position: absolute;
    left: 1040.57px;
    top: 136.32px;
    margin-top: 0;
    max-height: 318.57px;
}


section {
    height: 1747px;
    background-color: #ffffff;
}

.container3 {
    padding: 144px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container3_heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B61F4;
    width: 68px;
    height: 15px;
    padding-left: 8px;
}

.container3_heading1 {
    position: relative;
}

.container3_heading1_precise {
    font-family: Neurial Grotesk;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    width: 440px;
    height: 126px;
    color: #090C17;
    position: absolute;
    top: 16px;
    left: -106px;
}

.container3_heading2 {
    position: relative;
    left: -106px;
}

.container3_heading2_precise {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 400px;
    height: 81px;
    color: #616575;
    position: absolute;
    top: 150px;
}

.explore_coverage {
    width: 151px;
    height: 40px;
    padding: 16.04px 16px;
    border-radius: 8px;
    gap: 7.64px;
    background: #EAEEFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 271px;
    left: 122px;
}  

.container3_btn_text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B61F4;
    margin: 0;
    padding: 0;
}

.logo_left_coverage {
    margin-left: 122px;
    top: 0px;
    margin-top: 0px;
}

.container4 {
    padding: 125.71px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container4_heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B61F4;
    width: 68px;
    height: 15px;
    padding-left: 8px;
}

.container4_heading1 {
    position: relative;
}

.container4_heading1_precise {
    font-family: Neurial Grotesk;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    width: 440px;
    height: 84px;
    color: #090C17;
    position: absolute;
    top: 16px;
    left: -106px;
}

.container4_heading2 {
    position: relative;
    left: -106px;
}

.container4_heading2_precise {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 400px;
    height: 81px;
    color: #616575;
    position: absolute;
    top: 108px;
}

.explore_automation {
    width: 166px;
    height: 40px;
    padding: 16.04px 16px;
    border-radius: 8px;
    gap: 7.64px;
    background: #EAEEFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 229px;
    left: 122px;
}  

.container4_btn_text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B61F4;
    margin: 0;
    padding: 0;
}

.logo_left_automation {
    margin-left: 122px;
    top: 0px;
    margin-top: 0px;
}

.container5 {
    padding: 83px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container5_heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B61F4;
    width: 68px;
    height: 15px;
    padding-left: 8px;
}

.container5_heading1 {
    position: relative;
}

.container5_heading1_precise {
    font-family: Neurial Grotesk;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    width: 440px;
    height: 84px;
    color: #090C17;
    position: absolute;
    top: 16px;
    left: -106px;
}

.container5_heading2 {
    position: relative;
    left: -106px;
}

.container5_heading2_precise {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 400px;
    height: 81px;
    color: #616575;
    position: absolute;
    top: 150px;
}

.explore_platform {
    width: 146px;
    height: 40px;
    padding: 16.04px 16px;
    border-radius: 8px;
    gap: 7.64px;
    background: #EAEEFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 271px;
    left: 122px;
}  

.container5_btn_text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B61F4;
    margin: 0;
    padding: 0;
}

.logo_left_developers {
    margin-left: 122px;
    top: 0px;
    margin-top: 0px;
}

.container3-illustation1 {
    margin-left: 725px;
    margin-top: -225px;
}

.container4-illustation1 {
    margin-left: 725px;
    margin-top: -205px;
}

.container5-illustation1 {
    margin-left: 725px;
    margin-top: -160px;
}

.section2 {
    height: 440px !important;
    background-color: #3B61F4;
    margin-top: 0;
    padding-top: 66px;
}

.heading3 {
    font-family: Neurial Grotesk;
    font-size: 56px;
    font-weight: 700;
    line-height: 61.6px;
    letter-spacing: 0em;
    color: white;
    padding: -100px 0px;
    margin-left: 451px;
}

.heading4 {
    font-family: Neurial Grotesk;
    font-size: 56px;
    font-weight: 400;
    line-height: 61.6px;
    color: white;
    margin-left: 481px;
}
.talk-to-an-expert3 {
    margin: 32px 0px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
    border-image-source: linear-gradient(93.97deg, rgba(255, 255, 255, 0.1) 2.56%, rgba(255, 255, 255, 0) 95.26%);
    background: linear-gradient(0deg, #1E3076, #1E3076), linear-gradient(93.97deg, rgba(255, 255, 255, 0.1) 2.56%, rgba(255, 255, 255, 0) 95.26%);
    gap: 8px;
    box-shadow: 0px 4px 8px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 641px;
}

.container6 {
    padding: 24px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 551px;
}

.container6-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    height: 21px;
    color: #ffffff;
    opacity: 80%;
}

.container6-logo1 {
    margin-left: 32px;
    margin-right: 32px;
}

.container7 {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #0F183B;
    padding: 56px 119px;
    padding-bottom: 97.75px;
    display: flex;
    margin: 33px 0px;
}

.footer-logo {
    margin-right: 212.23px;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-section {
    color: white;
    width: 221px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section h3 {
    font-size: 18px;
}

.Features,
.About,
.nothing {
    width: 166px !important;
    height: 20px !important;
    font-family: 'Neurial Grotesk'!important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #FFFFFF !important;
    display: block !important;
    margin-bottom: 16px !important;
}

.footer-section li a {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    width: 166px;
    height: 21px;
    color: #FFFFFF;
    display: block;
    padding: 4px 0px;
}

.Social {
    height: 20px !important;
    font-family: 'Neurial Grotesk'!important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #FFFFFF !important;
    display: block !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

.footer-section2 li a:not(.social) {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    width: 166px;
    height: 21px;
    color: #FFFFFF;
    display: block;
}

.footer-section2 li:not(.Social) {
    margin-bottom: 16px;
}

.footer-section4-linkedin-svg {
    margin-right: 7px;
}

.footer-section4-twitter-svg {
    margin-right: 7px;
}

.divider {
    width: 1200px;
    height: 1px;
    position: absolute;
    top: 3243px;
    left: 120px;
    background: #FFFFFF1A;
    border: 0px solid #FFFFFF1A;
}

.text_end {
    position: absolute;
    width: 216px;
    height: 18px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin: 227px 500px;
}

.zoom {
    zoom: 1.29;
}
